*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	font-family: $font-rubik;
	font-size: $font-size-browser-default;
}

body {
	@include margin(0);
	@include padding(0);
	background-color: $black;
	font-size: $font-size-browser-default;
	font-weight: $font-regular;
	line-height: $line-height-default;
	color: $white;
	letter-spacing: 1px;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	outline: 0;
}

a {
	text-decoration: none;
}

a:hover,
a:active,
a:focus {
	outline: 0;
}

h1,
h2,
h3,
h5,
p {
	@include margin(0);
	@include padding(0);
}

ul {
	@include padding(0);
	// list-style: none;
}

input {
	-webkit-appearance: none;
	user-select: text;
	-webkit-user-select: text;
	box-sizing: border-box;
	outline: none;
	border: none;
}

button {
	cursor: pointer;
	outline: none;
	box-sizing: border-box;
}

button::-moz-focus-inner {
	border: 0;
}

button {
	border: 0;
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
